# AI Tools
.adal/
.agents/
.agent/
.augment/rules/
.claude/
.cline/
.codeartsdoer/
.codebuddy/
.codex/
.commandcode/
.continue/
.crush/
.cursor/
.factory/
.gemini/
.github/
.goose/
.junie/
.iflow/
.kilocode/
.kiro/
.kode/
.mcpjam/
.vibe/
.mux/
.opencode/
.openhands/
.pi/
.qoder/
.qwen/
.roo/
.trae/
.windsurf/
.zencoder/
.neovate/
.pochi/


# log file
log/